<?xml version="1.0" encoding="UTF-8"?>
<!-- 加入系统全局配置文件的文档类型描述文件=dtd -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis 系统全局配置文件 -->
<configuration>
<typeAliases>
	<typeAlias type="java.lang.Integer" alias="Integer"/>
</typeAliases>
</configuration>